<!DOCTYPE html>
<html>
    <head>
        <title>{% if title %}title &middot {% endif %}{{ app.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--[if gte IE 9]> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.css">
        <!-- <![endif]-->

        <!-- HTML5 shim en Respond.js zijn nodig voor IE8. Respond.js werkt niet cross-domain. -->
        <!--[if lt IE 9]>
            <link href="/cdn/bootstrap.min.css" rel="stylesheet">
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="/css/main.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <header class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container container-smooth">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">{{ app.name }}</a>
                    </div>

                    <nav class="navbar-offcanvas offcanvas" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            {% if auth.user %}
                                <li class="profile dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img class="img-circle" height="30" width="30" src="{{ auth.user.image('30x30-crop').url|default('/img/'~auth.user.gender|default('male')~'-circle-32.png') }}" />
                                        <span>{{ auth.user }}</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/settings">Settings</a></li>
                                        <li><a href="/logout">Log out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="#signup" title="Sign up for a new account" data-toggle="modal">Sign up</a></li>
                                <li><a href="#login" title="Log in" data-toggle="modal">Log in</a></li>
                            {% endif %}
                        </ul>

                        <ul class="nav navbar-nav nav-main">
                            {% include "_includes/nav.html.twig" %}
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}
        
        {% if flash.issued %}
            <div class="alert alert-{{ flash.type == 'error' ? 'danger' : flash.type }} alert-fixed-top">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flash.message|raw }}
            </div>
        {% endif %}
        
        {% block header %}
        {% endblock %}

        {% block body %}
              <div id="content" class="container container-smooth">
                  {% block content %}{% endblock %}
              </div>
        {% endblock %}

        {% block footer %}
            <footer class="navbar navbar-inverse navbar-sticky-bottom">
                <div class="container container-smooth">
                    <ul class="nav navbar-nav navbar-left">
                        {% include '_includes/nav-footer.html.twig' %}
                    </ul>
                    <p class="navbar-text navbar-right">
                        &copy; {{ now|date('Y') }} {{ app.name }}
                    </p>
                </div>
            </footer>
        {% endblock %}
            
        {% include '_includes/auth-modals.html.twig' %}
        {% block modals %}{% endblock %}

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <script src="/js/lib/pwstrength.js"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
